html {
    margin: 5%;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 200;
    font-size: 20px;
    /* color: #ffffff; */
  }
  body {
    background-color: #22a33e;
    color: hsl(56, 80%, 48%);

  }
  h2 {
    text-align: center;
    margin: 0 auto;
  }
  #container {
    background-color: #0b500f;
    margin: 1em;
    padding: 1%;
    width: 50%;
    margin-left: 25%;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2bcf2b;
  }
  /* .images {
    background-color: #112b42;
    padding: 1%;
  } */
  #playercards {
    margin: 0 auto;
    padding: 0.5%;
    background-color: #31172a;
    height: 125px;
    border-radius: 25px 25px 0px 0px;
  }
  #dealercards {
    margin: 0 auto;
    padding: 1%;
    background-color: #062c09;
    height: 125px;
    border-radius: 0px 0px 25px 25px;
  }
  .dealreset {
    display: block;
    text-align: center;
  }
  button.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #startBtn {
    width: 15%;
    height: 10%;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 1%  auto;
    border-radius: 10px;
    /* border-radius: 20px 2px;
    overflow-wrap: break-word; */
    /* when text-overflows break the letters and wrap in new-lines */
  }
  .hitstand {
    display: block;
    text-align: center;
  }
  #hitBtn,
  #standBtn {
    width: 15%;
    height: 10%;
    display: inline-block;
    margin: 0.5% 15%;
    position: relative;
    border-radius: 10px;
    overflow-x: hidden;
    /* hide text that overflows in x-axis */
    text-overflow: ellipsis;
    /* add ... in button to show that some text is there */
  }
  input[type=text] {
    border-radius: 10px;
  }
  .sumdisplay {
    display: block;
    text-align: center;
  }
  #playersum,
  #dealersum {
    display: block;
    margin: 1% auto;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 1px;
    max-width: 85%
  }
  #show {
    margin-top: 1%;
    text-align: center;
    display: block;
  }
  #resultbox {
    display: inline-block;
    max-width: 50%;
    font-size: 15px;
    font-weight: bold;
    color: #5500ff;
  }
  #counter {
    display: inline-block;
    margin-top: 1%;
    text-align: center;
  }
  #winscounter {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    max-width: 10%;
    border: solid;
    border-radius: 20%;
    padding: 1px;
    text-align: center;
  }
  footer {
    text-align: center;
    font-family: Impact;
    position: relative;
  }
  a:link {
    text-decoration: none;
  }
  a:hover,
  a:visited {
    color: red;
  }

  /* startPlay {
    display: flex;
    position: absolute;
  } */

